
python-dotenv
ipykernel
faiss-cpu
pypdf
streamlit
langchain-groq
langchain-text-splitters
langchain_chroma
langchain
langchain-core 
langchain-community
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence_transformers
langchain_huggingface
duckdb
pandas
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr


